<% if @user.image? %>
    <%= image_tag(@user.image.thumb.url) %>
<% else %>
    <%= image_tag("/images/icon/no-image.png") %>
<% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>